#background-image{
    height: 70vh;
    width: 100%;
    background-image: url(philharmoniker_de.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}